/* nav bar */

#logo {
    width: 70px;
    height: auto;
    margin: 0 20px;
  }
  
  .navbar {
    background-color: #902727;
    background-position: center;
    background-size: cover;
  }
  
  /* nav bar end */
  
  /*  main */
  
  .texto-main {
    font-size: 20px;
  }
  